body {
    background-image: url("../images/BG_pinkpop.jpg");


}


/*margins*/
.margins_text {
    margin-top: 80px;
}

.margins_text_200px {
    margin-top: 200px;
}

.margins_text_negative {
    margin-top: -60px;
}


/*text*/


h1 {
    color: mediumvioletred;
    font-size: 40px;
    font-family: Gadugi;
    text-align: center;
}

h3 {
    color: mediumvioletred;
    font-size: 30px;
    font-family: Gadugi;
    text-align: center;
}

h4 {
    color: mediumvioletred;
    font-size: 120px;
    font-family: Gadugi;
    text-align: center;
    margin-top: 0px;

}

p {
    color: #ffe33b;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;
    text-align: center;
}

.p1 {
    color: #ffe33b;
    font-weight: bold;
    font-size: 25px;
    font-family: Gadugi;
    text-align: left;
    margin-top: 80px;
}

/*ticket bestellen window*/

p2 {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;
    text-align: left;
    display: block;
}



.p3 {
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;
    text-align: left;

}

.p4 {
    color: #ffe33b;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;
    text-align: left;


}

.p5 {
    color: #ffe33b;
    font-weight: bold;
    font-size: 15px;
    font-family: Gadugi;
    text-align: left;


}

.bgtext{
    background-color: deeppink;

    width: 500px;

}


/*tables*/

table {
    border-collapse: separate;
    cellspacing:"1";
    cellpadding:"0";
    table-layout: fixed;
    min-width: 100%;
}

.green_table {
    background-color: #4e8386;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    width: 130px;
    color: white;
}


th {
    color: white;
    width: 50px;
    table-layout: inherit;
}

td {

    width: 150px;
    text-align: center;
}

/* bullets "ul"*/

.ul1 {
    margin: auto;
    color: #ffe33b;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;
    width:80%;

}

.ulicon {
    list-style-image: url("../images/pinkgirl.png");
    margin-top: 35px;
}


.ulicon1 {
    list-style-image: url("../images/pinkgirl.png");
    margin-top: 35px;
}

.ulicon2 {
    list-style-image: url("../images/pinkgirl.png");
    margin-top: 35px;
}

.ulicon3 {
    list-style-image: url("../images/pinkgirl.png");
    margin-top: 35px;
}

.ulicon4 {
    list-style-image: url("../images/pinkgirl.png");
    margin-top: 35px;
}


/* hyperlinks*/

a:link {
    color: deeppink;
}

a:visited {
    color: hotpink;
}

a:hover {
    color: darkblue;
}

a:active {
    color: rebeccapurple;
}

/* selected row color*/

.selected {
    background-color: deeppink; font-weight: bold; color: white;
}

.unselected {
    background-color: #94a4ba; font-weight: unset; color: black;
}

/*Cursor row select*/

tr{cursor: url("../cursor/devilhorns.cur"), auto; transition: all .25s ease-in-out}

/*Cursor link and p select*/
p{cursor: url("../cursor/devilhorns.cur"), auto;}
a{cursor: url("../cursor/devilhorns.cur"), auto;}


/*Dots hide text*/
#underDots {display: none;}


/*money button*/
#moneyButtonZaterdag {
    color: #ffe33b;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;

}
#moneyButtonZondag {
    color: #ffe33b;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;

}
#moneyButtonMaandag {
    color: #ffe33b;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;

}
#moneyButtonWeekend {
    color: #ffe33b;
    font-weight: bold;
    font-size: 20px;
    font-family: Gadugi;

}

/*form design and functions*/

.form_d1 {
    width: 12%;
    padding: 12px 20px;
    margin: 8px 61px;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_d2 {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 100px;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_d3 {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 61px;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_d4 {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 61px;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}


.form_d5 {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 61px;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_d6 {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 61px;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 100px;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text2] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #FF1493;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit]:hover {
    background-color: white;
    color: deeppink;

}

input[type=submit] {
    width: 10%;
    background-color: #FF1493;
    color: white;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*video player*/

.videoD1{
    border: 0px;
    padding: 0px;
}

/*GALLERY//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.containerGal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.galleryRep{
    margin: 10px;
}


.img{
    height: 150px;

}

div.scrollSec{
    overflow: scroll;
    overflow-x: hidden;
}

.margin_zodat_het_op_alle_browsers_werkt{
    margin-top:100px;
    -ms-overflow-style: none;
}

.scrollSec::-webkit-scrollbar {
    display: none;
}

.header {
    width: 100%;
    height: 100px;
    flex: none;
}

.footer{
    float: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin: 10px;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: deeppink;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 0%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}